<div class="row">
    <div class="col-md-10 m-auto">
        <div class="card">
          <div class="card-header">
            <div class="card-title-wrap bar-success">
              <h4 class="card-title" id="basic-layout-form">New Devotion</h4>
            </div>
          </div>
          <div class="card-body">
            <div class="px-3">
              <form class="form">
                <div class="form-body">
                  <div class="row">
                      <div class="col-md-6">
                          <div class="form-group">
                            <label for="projectinput5">Select Language</label>
                            <select id="projectinput5" name="interested" class="form-control">
                              <option value="English">English</option>
                              <option value="Spanish">Spanish</option>
                              <option value="French">French</option>
                              <option value="Hausa">Hausa</option>
                              <option value="Yoruba">Yoruba</option>
                              <option value="Igbo">Igbo</option>
                              <option value="Portuguese">Portuguese</option>
                              <option value="German">German</option>
                            </select>
                          </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                              <label for="issueinput3">Post Date</label>
                              <input type="date" id="postDate" class="form-control" name="postDate" data-toggle="tooltip" data-trigger="hover" data-placement="top"
                               data-title="Date Opened">
                            </div>
                          </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="projectinput1">Topic</label>
                        <input type="text" id="projectinput1" class="form-control" name="topic">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="projectinput2">Bible Verse</label>
                        <input type="text" id="projectinput2" class="form-control" name="bibleVerse">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                          <label for="projectinput8">Write Devotion Here</label>
                          <textarea rows="5" class="form-control" name="devotion"></textarea>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                          <label for="projectinput8">Write Prayer Here</label>
                          <textarea rows="5" class="form-control" name="prayer"></textarea>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                            <label for="projectinput8">Write Confession Here</label>
                            <textarea rows="5" class="form-control" name="confession"></textarea>
                        </div>
                      </div>
                    </div>
  
                </div>
  
                <div class="form-actions text-center">
                  <!-- <button type="button" class="btn btn-raised btn-danger mr-1">
                    <i class="icon-trash"></i> Cancel
                  </button> -->
                  <button type="button" class="btn btn-raised btn-success">
                    <i class="icon-note"></i> Add Quote
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
  </div>