<section style="padding-top:5%">
  <div class="login z-depth-3">
    <div class="login_image">
      <img src="assets/images/logo.png" alt="">
    </div>
    <div class="login_content">
      <form action="http://smartcodehub.com">
        <div class="login_content_form">              
          <input type="text" placeholder="Email">
        </div>
        <div class="login_content_form">           
          <input type="password" placeholder="Pasword">
        </div>
        <button class="login_btn">Login</button>
      </form>
    </div>
  </div>
</section>