<!--Statistics cards Starts-->
<div class="row">
  <div class="col-xl-4 col-lg-6 col-md-6 col-12">
    <div class="card bg-white">
      <div class="card-body">
        <div class="card-block pt-2 pb-0">
          <div class="media">
            <div class="media-body text-left">
              <h4 class="font-medium-5 card-title mb-0">5789</h4>
              <span>Android Downloads</span>
            </div>
            <div class="media-right text-right">
              <i class="fa fa-android font-large-1 primary"></i>
            </div>
          </div>
        </div>
        <div id="Widget-area-chart1" class="height-150 WidgetAreaChart1 mb-2">
          <x-chartist class="" [data]="WidgetAreaChart1.data" [type]="WidgetAreaChart1.type" [options]="WidgetAreaChart1.options" [responsiveOptions]="WidgetAreaChart1.responsiveOptions" [events]="WidgetAreaChart1.events">
          </x-chartist>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-4 col-lg-6 col-md-6 col-12">
    <div class="card bg-white">
      <div class="card-body">
        <div class="card-block pt-2 pb-0">
          <div class="media">
            <div class="media-body text-left">
              <h4 class="font-medium-5 card-title mb-0">4567</h4>
              <span>IOS Downloads</span>
            </div>
            <div class="media-right text-right">
              <i class="fa fa-apple font-large-1 warning"></i>
            </div>
          </div>
        </div>
        <div id="Widget-area-chart2" class="height-150 WidgetAreaChart2 mb-2">
          <x-chartist class="" [data]="WidgetAreaChart2.data" [type]="WidgetAreaChart2.type" [options]="WidgetAreaChart2.options" [responsiveOptions]="WidgetAreaChart2.responsiveOptions" [events]="WidgetAreaChart2.events">
          </x-chartist>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-4 col-lg-6 col-md-6 col-12">
    <div class="card bg-white">
      <div class="card-body">
        <div class="card-block pt-2 pb-0">
          <div class="media">
            <div class="media-body text-left">
              <h4 class="font-medium-5 card-title mb-0">9822</h4>
              <span>Total Downloads</span>
            </div>
            <div class="media-right text-right">
              <i class="fa fa-download font-large-1 success"></i>
            </div>
          </div>
        </div>
        <div id="Widget-area-chart3" class="height-150 WidgetAreaChart3 mb-2">
          <x-chartist class="" [data]="WidgetAreaChart3.data" [type]="WidgetAreaChart3.type" [options]="WidgetAreaChart3.options" [responsiveOptions]="WidgetAreaChart3.responsiveOptions" [events]="WidgetAreaChart3.events">
          </x-chartist>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Statistics cards Ends-->
<!--Line with Area Chart 1 Starts-->
<div class="row">
  <div class="col-xl-8 col-lg-12 col-12">
    <div class="card">
      <div class="card-header">
        <div class="card-title-wrap bar-success">
          <div class="row">
          <div class="col-md-6">
            <h4 class="card-title">Today's Devotion</h4>
          </div>
          <div class="col-md-6 text-right">
              <span class="card-title text-right font-bold">Language: {{selectedLang}}</span>
          </div>
        </div>
        </div>
      </div>
      <div class="card-body">
        <div class="card-block">
          <div id="line-chart" class="height-300 lineChart" style="overflow-y: auto" *ngIf="(todayDevotion?.topic && todayDevotion?.topic != '')">
            <h6 class="font-500">Topic: {{todayDevotion?.topic}}</h6>
            
            <h6 class="font-500">Bible Verse: </h6>
            <p>{{todayDevotion?.bible_verse}}</p>
            
            <h6 class="font-500">Devotion: </h6>
            <p>{{todayDevotion?.devotion}}</p>
            
            <h6 class="font-500">Prayer: </h6>
            <p>{{todayDevotion?.prayer}}</p>
            
            <h6 class="font-500">Confession: </h6>
            <p>{{todayDevotion?.confession}}</p>

          </div>

          <div id="line-chart" class="height-300 lineChart" style="overflow-y: auto" *ngIf="todayDevotion?.length == 0">
            <h3 class="text-center">No devotions for today</h3>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-4 col-lg-12 col-12">
    <div class="card">
      <div class="card-header">
        <div class="card-title-wrap bar-danger">
          <h4 class="card-title">Past Devotions</h4>
        </div>
      </div>
      <div class="card-body">
        <div class="col-12 timeline-left" id="activity">
          <div class="timeline">
            <ul class="list-unstyled base-timeline activity-timeline">
              <li class="">
                <div class="timeline-icon bg-danger">
                  <i class="fa fa-tasks"></i>
                </div>
                <div class="act-time">{{pastDevotions[0]?.date}}</div>
                <div class="base-timeline-info">
                  <a href="#" class="text-uppercase text-danger">{{(pastDevotions[0]?.title.length > 15)? (pastDevotions[0]?.title | slice:0:15)+'...': pastDevotions[0]?.title }}</a>
                </div>
                <small class="text-muted" (click)="viewDevotion(pastDevotions[0]?._id)">View</small>
              </li>
              <li class="">
                <div class="timeline-icon bg-primary">
                  <i class="fa fa-handshake-o"></i>
                </div>
                <div class="act-time">{{pastDevotions[1]?.date}}</div>
                <div class="base-timeline-info">
                  <a href="#" class="text-uppercase text-primary">{{(pastDevotions[1]?.title.length > 15)? (pastDevotions[1]?.title | slice:0:15)+'...': pastDevotions[1]?.title }}</a>
                </div>
                <small class="text-muted" (click)="viewDevotion(pastDevotions[1]?._id)">View</small>
              </li>
              <li class="">
                <div class="timeline-icon bg-dark">
                  <i class="fa fa-tasks"></i>
                </div>
                <div class="act-time">{{pastDevotions[2]?.date}}</div>
                <div class="base-timeline-info">
                  <a href="#" class="text-uppercase text-dark">{{(pastDevotions[2]?.title.length > 15)? (pastDevotions[2]?.title | slice:0:15)+'...': pastDevotions[2]?.title }}</a>
                </div>
                <small class="text-muted" (click)="viewDevotion(pastDevotions[2]?._id)">View</small>
              </li>
              <li class="">
                <div class="timeline-icon bg-warning">
                  <i class="fa fa-handshake-o"></i>
                </div>
                <div class="act-time">{{pastDevotions[3]?.date}}</div>
                <div class="base-timeline-info">
                  <a href="#" class="text-uppercase text-warning">{{(pastDevotions[3]?.title.length > 15)? (pastDevotions[3]?.title | slice:0:15)+'...': pastDevotions[3]?.title }}</a>
                </div>
                <small class="text-muted" (click)="viewDevotion(pastDevotions[3]?._id)">View</small>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Line with Area Chart 1 Ends-->